.friend-list {
    list-style: none;
    padding: 0;
    counter-reset: none;
    text-align: center;
    width: 200px;
    flex-direction: column-reverse;
    align-items: center;
  }
  
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .status {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    box-shadow: #ccc;
  }
  
  .online {
    background-color: green;
    width: 10px;
   height: 10px;
    border-radius: 5;
  }
  
  .offline {
    background-color: red;
    width: 10px;
    height: 10px;
     border-radius: 5;
  }
  
  .avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .name {
    margin: 0;
  }
  