.friend-list {
    list-style: none;
    padding: 0;
   display: inline;
    align-items: center;
}
  
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .status {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .online {
    background-color: green;
  }
  
  .offline {
    background-color: red;
  }
  
  .avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .name {
    margin: 0;
  }
  